Repository ponko2/rtk-todomvc-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:wrench: Add compiler option
  .eslintrc.js
  tsconfig.json
Due: eslint --fix

:wrench: Add Storybook settings
  .eslintrc.js
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/presets.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
  src/components/Storyshots.test.ts
Due: eslint --fix

:fire: Remove files
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/serviceWorker.ts
Due: eslint --fix, prettier --write

:zap: Add React Hooks version
  .gitignore
  package-lock.json
  package.json
  src/api/todos.ts
  src/app/App.tsx
  src/components/__snapshots__/Storyshots.test.ts.snap
  src/components/atoms/TodoButton.module.css
  src/components/atoms/TodoButton.stories.tsx
  src/components/atoms/TodoButton.tsx
  src/components/atoms/TodoLink.module.css
  src/components/atoms/TodoLink.stories.tsx
  src/components/atoms/TodoLink.tsx
  src/components/molecules/TodoItem.module.css
  src/components/molecules/TodoItem.stories.tsx
  src/components/molecules/TodoItem.tsx
  src/components/organisms/TodoFooter.module.css
  src/components/organisms/TodoFooter.stories.tsx
  src/components/organisms/TodoFooter.tsx
  src/components/organisms/TodoHeader.module.css
  src/components/organisms/TodoHeader.stories.tsx
  src/components/organisms/TodoHeader.tsx
  src/components/organisms/TodoList.module.css
  src/components/organisms/TodoList.stories.tsx
  src/components/organisms/TodoList.tsx
  src/components/pages/TodoPage.module.css
  src/components/pages/TodoPage.stories.tsx
  src/components/pages/TodoPage.tsx
  src/components/templates/.gitkeep
  src/constants/VisibilityFilter.ts
  src/index.css
  src/index.tsx
  src/react-app-env.d.ts
  src/setupTests.ts
Due: eslint --fix, prettier --write

:zap: Add Redux Toolkit version
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/rootReducer.ts
  src/app/store.ts
  src/components/organisms/TodoFooter.stories.tsx
  src/components/organisms/TodoFooter.tsx
  src/components/pages/TodoPage.stories.tsx
  src/components/pages/TodoPage.tsx
  src/constants/VisibilityFilter.ts
  src/containers/organisms/TodoFooter.tsx
  src/containers/organisms/TodoHeader.tsx
  src/containers/organisms/TodoList.tsx
  src/containers/pages/TodoPage.tsx
  src/containers/templates/.gitkeep
  src/index.tsx
  src/modules/todos.ts
  src/modules/visibilityFilter.ts
  src/selectors/todos.ts
Due: eslint --fix

:white_check_mark: Add tests
  package-lock.json
  package.json
  src/components/atoms/TodoButton.test.tsx
  src/components/atoms/TodoLink.test.tsx
  src/components/molecules/TodoItem.test.tsx
  src/components/organisms/TodoFooter.test.tsx
  src/components/organisms/TodoHeader.test.tsx
  src/modules/todos.test.ts
  src/modules/visibilityFilter.test.ts
  src/selectors/todos.test.ts
  src/selectors/todos.ts
Due: eslint --fix

:arrow_up: Bump storybook from 5.2.8 to 5.3.18
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/main.js
  .storybook/presets.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
Due: eslint --fix

:arrow_up: Bump lint-staged from 9.5.0 to 10.1.3
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

:arrow_up: Bump husky from 3.1.0 to 4.2.5
  package-lock.json
  package.json
Due: none

:arrow_up: Bump prettier from 1.19.1 to 2.0.4
  .eslintrc.js
  .huskyrc.js
  .prettierrc.js
  package-lock.json
  package.json
  src/api/todos.ts
  src/app/rootReducer.ts
  src/components/atoms/TodoButton.stories.tsx
  src/components/atoms/TodoButton.tsx
  src/components/atoms/TodoLink.stories.tsx
  src/components/atoms/TodoLink.tsx
  src/components/molecules/TodoItem.stories.tsx
  src/components/molecules/TodoItem.tsx
  src/components/organisms/TodoFooter.stories.tsx
  src/components/organisms/TodoFooter.tsx
  src/components/organisms/TodoHeader.stories.tsx
  src/components/organisms/TodoHeader.tsx
  src/components/organisms/TodoList.stories.tsx
  src/components/organisms/TodoList.tsx
  src/components/pages/TodoPage.stories.tsx
  src/containers/organisms/TodoFooter.tsx
  src/containers/organisms/TodoHeader.tsx
  src/containers/organisms/TodoList.tsx
  src/modules/todos.test.ts
  src/modules/todos.ts
  src/modules/visibilityFilter.test.ts
  src/modules/visibilityFilter.ts
  src/selectors/todos.test.ts
  src/selectors/todos.ts
Due: eslint --fix

:arrow_up: Update dependencies
  package-lock.json
  package.json
Due: none

:arrow_up: Bump react-scripts from 3.3.0 to 3.4.1
  package-lock.json
  package.json
  public/robots.txt
  src/app/App.tsx
  src/index.tsx
Due: eslint --fix

:zap: Use createAsyncThunk
  src/containers/organisms/TodoList.tsx
  src/modules/todos.test.ts
  src/modules/todos.ts
Due: eslint --fix

:arrow_up: Update dependencies
  .gitignore
  package-lock.json
  package.json
  src/modules/todos.test.ts
  src/react-app-env.d.ts
  src/setupTests.ts
Due: eslint --fix

:wrench: Create nodejs.yml
  .github/workflows/nodejs.yml
Due: none

:zap: Use createEntityAdapter
  src/modules/todos.test.ts
  src/modules/todos.ts
  src/selectors/todos.test.ts
  src/selectors/todos.ts
Due: eslint --fix

Add dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

:arrow_up: Update dependencies
  package-lock.json
Due: none

:arrow_up: Update dependencies
  package-lock.json
  package.json
  src/components/atoms/TodoButton.tsx
  src/modules/todos.test.ts
Due: eslint --fix

:wrench: Update nodejs.yml
  .github/workflows/nodejs.yml
Due: none

:wrench: Add Prettier setting
  .eslintrc.js
  .github/dependabot.yml
  .huskyrc.js
  .prettierignore
  .prettierrc
  tsconfig.json
Due: eslint --fix

:wrench: Add Prettier setting
  .eslintrc.js
  .github/dependabot.yml
  .huskyrc.js
  .prettierignore
  .prettierrc
  .storybook/main.js
  tsconfig.json
Due: eslint --fix

:arrow_up: Update dependencies
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: eslint --fix

:arrow_up: Update dependencies
  .eslintrc.js
  README.md
  package-lock.json
  package.json
  src/index.tsx
  src/reportWebVitals.ts
  src/setupTests.ts
  tsconfig.json
Due: eslint --fix

:wrench: Fix lint-staged setting
  .lintstagedrc.json
Due: none

:wrench: Remove @storybook/addon-knobs
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/__snapshots__/Storyshots.test.ts.snap
  src/components/atoms/TodoButton.stories.tsx
  src/components/atoms/TodoLink.stories.tsx
  src/components/molecules/TodoItem.stories.tsx
  src/components/organisms/TodoFooter.stories.tsx
  src/components/organisms/TodoHeader.stories.tsx
  src/components/organisms/TodoList.stories.tsx
  src/components/pages/TodoPage.stories.tsx
Due: eslint --fix

:arrow_up: Update dependencies
  .github/dependabot.yml
  .github/workflows/nodejs.yml
  .prettierrc
  package-lock.json
Due: none

:arrow_up: Update dependencies
  .eslintrc.js
  .storybook/main.js
  package-lock.json
  package.json
  src/components/__snapshots__/Storyshots.test.ts.snap
  src/components/atoms/TodoButton.stories.tsx
  src/components/atoms/TodoLink.stories.tsx
  src/components/molecules/TodoItem.stories.tsx
  src/components/organisms/TodoFooter.stories.tsx
  src/components/organisms/TodoHeader.stories.tsx
  src/components/organisms/TodoList.stories.tsx
  src/components/pages/TodoPage.stories.tsx
Due: eslint --fix

:zap: Use React.VFC
  src/components/atoms/TodoButton.tsx
  src/components/atoms/TodoLink.tsx
  src/components/molecules/TodoItem.tsx
  src/components/organisms/TodoFooter.tsx
  src/components/organisms/TodoHeader.tsx
  src/components/organisms/TodoList.tsx
  src/components/pages/TodoPage.tsx
  src/containers/organisms/TodoFooter.tsx
  src/containers/organisms/TodoHeader.tsx
  src/containers/organisms/TodoList.tsx
  src/containers/pages/TodoPage.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,scss,less}
